<launch>
  <node pkg="rpg_open_remode" type="depthmap_node" name="remode" clear_params="true" output="screen">
    <param name="cam_width" value="752" />
    <param name="cam_height" value="480" />
    <param name="cam_fx" value="469.3034513741438" />
    <param name="cam_cx" value="391.3985884834755" />
    <param name="cam_fy" value="470.34763920064404" />
    <param name="cam_cy" value="242.50536654383617" />
    <param name="cam_k1" value="-0.287050381836307" />
    <param name="cam_k2" value="0.08198077814449153" />
    <param name="cam_r1" value="0.0002772925288049092" />
    <param name="cam_r2" value="-0.00023430687225549701" />
    
    <param name="ref_compl_perc" value="50.0" />
    <param name="max_dist_from_ref" value="0.5" />
    <param name="publish_conv_every_n" value="2" />

    <param name="dense_input" value="/rovio/dense_input0" />
    
    <param name="external_depthmap_source" value="/kinect2/sd/image_dept" />
    <param name="external_cam_fx" value="364.45582576467052" />
    <param name="external_cam_cx" value="252.88977457211502" />
    <param name="external_cam_fy" value="363.95577763605320" />
    <param name="external_cam_cy" value="207.43661717366510" />
    <param name="external_cam_to_cam_00" value="0.99824296" />
    <param name="external_cam_to_cam_10" value="0.00945624" />
    <param name="external_cam_to_cam_20" value="0.05849429" />
    <param name="external_cam_to_cam_30" value="0.10184702" />
    <param name="external_cam_to_cam_01" value="-0.01758432" />
    <param name="external_cam_to_cam_11" value="0.98998895" />
    <param name="external_cam_to_cam_21" value="0.14004524" />
    <param name="external_cam_to_cam_31" value="-0.09873914" />
    <param name="external_cam_to_cam_02" value="-0.0565844" />
    <param name="external_cam_to_cam_12" value="-0.14082776" />
    <param name="external_cam_to_cam_22" value="0.98841578" />
    <param name="external_cam_to_cam_32" value="0.0479906" />
  </node>   
</launch>
